<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指明当前xml对应的Mapper -->
<mapper namespace="io.renren.modules.PersonMapper">
    <select id="listCount" resultType="Integer">
        SELECT COUNT(*) FROM person;
    </select>
    <select id="findPersonById" parameterType="Integer" resultType="Person">
        SELECT * FROM person WHERE id=#{id}
    </select>
</mapper>